<h1>create a new cat !</h1>
 
<form action="<%=cats_url%>" method="post">
    <label for="name">Cat's Name</label>
    <input id="name" type="text" name="cat[name]">
    
    <br>

    <label for="sex">Cat's Sex</label><br>
    <input id="sex" type="radio" name="cat[sex]" value="F">Male<br>
    <input id="sex" type="radio" name="cat[sex]" value="M">Female

    <br>


    <label for="sex">Please select cat's color</label><br>
    <select id="sex" name="cat[color]">
        <option value="black">black</option>
        <option value="white">white</option>
        <option value="brown">brown</option>
        <option value="gray">gray</option>
    </select>
    
    <br>

    <label for="birth_date">Cat's birthday</label><br>
    <input id="date" type="date" name="cat[birth_date]" >

    <label for="Description">Describe the cat</label><br>
    <textarea id="Description" rows="5" col="20" type="text" name="cat[description]">
    </textarea>
    
    <br>




    <input type="submit" value="create a cat">
</form>
